JAVA_API_PORT=8081
PYTHON_API_PORT=8000
GO_API_PORT=8082
NEXTJS_PORT=3004

# Open Source Point of Sale (valores únicamente para pruebas locales)
OSPOS_PORT=8083
OSPOS_MYSQL_DATABASE=ospos
OSPOS_MYSQL_USER=ospos
OSPOS_MYSQL_PASSWORD=pointofsale
OSPOS_MYSQL_ROOT_PASSWORD=root-pointofsale
TZ=America/Mexico_City
